 #div1
  {
  background-color: #AAA6A6;
  width: 500;
  height: 500;
  margin: 10%;
  margin-top: 10px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  }

  #div2
  {
  width: 500;
  height: 500;
  margin-bottom: 20px;
  }

 .colored {
  margin-bottom: 30px;
 }

 img {
  max-width: 100%;
  padding: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
 }

 #con {
  top: 800px;
  margin-left: auto;
  margin-right: auto;
 }

 button {
  border: 1px solid #FCA737;
  background: #FCA737;
  display: block;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3vh;
  color: #AAA6A6;
  width: 50vw;
  height: 7vh;
  display: flex;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* настройки блока с текстом */
.colored {
  /* фон */
  /* background: #000; */
  /* межстрочное расстояние */
  line-height: 1;
  /* подключаем сетку */
  display: grid;
  /* ставим содержимое в центр */
  place-items: center;
}

h1 {
  /* настраиваем внешний вид шрифта */
  font: cursive;
  font-stretch: ultra-expanded;
  font-size: 12vw;
  font-weight: 900;

  /* подстраиваем ширину заголовка под самое длинное слово*/
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;

  /* делаем автоматические отступы */
  margin: auto;
  /* переводим все буквы в заглавные */
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Roboto";
  font-style: normal;
  /* делаем заголовок прозрачным, чтобы был виден цветной фон */
  color: #FCA737;
  margin-top: 1%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}
